@font-face {
  font-family: "Cotham";
  src: local("Cotham"),
    url(/public/fonts/otf/OpenSans-VariableFont_wdth\,wght.ttf)
      format("truetype");
}

@font-face {
  font-family: "Sanchez-Regular";
  src: local("Sanchez-Regular"),
    url(/public/fonts/otf/BluuNext-Bold.otf) format("truetype");
}

.modalBackground {
  width: 500px;
  height: 520px;
  background-color: black;
  position: fixed;
  top: 23%;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 400px;
  height: 200px;

  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: "Sanchez-Regular";
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  border: none;
  color: black;
  font-family: "Sanchez-Regular";
  font-size: 20px;
  cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Calque_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24'  x='0px' y='0px' fill='black' viewBox='0 0 186.3464 250' enable-background='new 0 0 186.3464 250' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M164.4071,217.1337c-0.5003,3.6713-0.1788,7.3607-0.2183,11.0408c-0.0585,5.4576-0.1084,10.9192,0.0436,16.3733 c0.064,2.2957-0.7647,2.8671-2.94,2.8615c-24.2666-0.0625-48.5334-0.0439-72.8001-0.0384 c-10.9164,0.0025-21.8327,0.0322-32.7491,0.0337c-3.252,0.0005-3.3231-0.0895-3.3227-3.3566 c0.001-8.1136,0.0676-16.228-0.0265-24.3405c-0.0247-2.1324,0.6713-2.9241,2.7937-2.7301c1.6087,0.147,3.2457,0.0793,4.8646-0.0027 c1.9083-0.0967,2.6237,0.7266,2.5932,2.6237c-0.0793,4.9407-0.0468,9.8836-0.0319,14.8254 c0.0083,2.7603,0.2828,3.012,3.0561,3.0126c28.3241,0.0059,56.6482,0.0109,84.9723,0.0129 c3.1719,0.0002,3.3556-0.1848,3.3648-3.401c0.0137-4.7944,0.0557-9.5894-0.0046-14.383c-0.0248-1.97,0.6774-2.8506,2.7412-2.687 c2.5668,0.2036,5.1592-0.2204,7.7255,0.221L164.4071,217.1337z'/%3E%3Cpath d='M93.0243,64.5607c-0.0003,15.8586-0.0012,31.7171,0.0005,47.5757c0.0004,3.1574-0.1246,3.2938-3.1734,3.3056 c-1.3277,0.0051-2.6554,0.0063-3.9831,0.0043c-2.7818-0.0042-2.9776-0.1715-2.9828-3.0418 c-0.0148-8.1873-0.0583-16.3755,0.0416-24.5617c0.0262-2.1471-0.7347-2.8556-2.8261-2.8139 c-5.0138,0.1-10.0319-0.0255-15.0459,0.0673c-1.8316,0.0339-2.521-0.5994-2.4002-2.4276c0.1214-1.8361,0.0941-3.6889,0.0158-5.5295 c-0.0744-1.7479,0.6939-2.3054,2.3827-2.2814c5.0147,0.0712,10.0331-0.0627,15.0459,0.0586 c2.1448,0.0519,2.7706-0.7066,2.763-2.8084c-0.0661-18.2925-0.0384-36.5853-0.0375-54.878 c0.0001-3.0368,0.1465-3.1841,3.2827-3.1949c1.6964-0.0059,3.3938,0.0549,5.089,0.0129c1.3088-0.0325,1.8743,0.494,1.8372,1.831 c-0.0573,2.0636-0.0094,4.1302-0.0093,6.1954C93.0249,36.2365,93.0246,50.3986,93.0243,64.5607z'/%3E%3Cpath d='M113.4731,13.904c2.3566,0.053,4.7129,0.12,7.0697,0.1556c2.9185,0.0441,3.0118,0.1087,3.0131,2.976 c0.0065,13.5624,0.0034,27.1249,0.0036,40.6873c0.0001,4.7911,0.073,9.5838-0.0345,14.3725 c-0.0474,2.1086,0.723,2.8964,2.823,2.8535c4.9367-0.1007,9.8774-0.0009,14.8143-0.0944c1.9834-0.0376,2.8581,0.6692,2.7338,2.7052 c-0.0985,1.6144-0.0711,3.2474,0.0477,4.8613c0.1453,1.9737-0.5428,2.7564-2.6303,2.7027c-5.0089-0.129-10.0246,0.02-15.035-0.0775 c-2.0816-0.0405-2.8535,0.6593-2.8283,2.8089c0.0959,8.1805,0.0493,16.3628,0.0266,24.5443 c-0.008,2.8777-0.1747,3.0111-2.9871,3.0384c-1.3267,0.0129-2.6535,0.0096-3.9802,0.0136 c-2.7573,0.0084-3.0807-0.2549-3.0873-2.9934c-0.0191-7.813,0.0146-15.6261,0.0142-23.4391 c-0.0012-24.3977-0.0094-48.7953-0.0088-73.193c0-0.6614,0.0696-1.3228,0.1068-1.9843 C113.5346,13.8419,113.4731,13.904,113.4731,13.904z'/%3E%3Cpath d='M174.5041,145.8047c0.001-12.6128,0.0381-25.2257-0.0371-37.8381c-0.0119-1.9957,0.5325-2.8535,2.6149-2.6697 c1.684,0.1486,3.3968,0.1403,5.0848,0.025c1.5971-0.1091,2.1333,0.658,2.1478,2.0683c0.016,1.5488,0.0269,3.0977,0.0271,4.6466 c0.0031,23.7504,0.0049,47.5008,0.0048,71.2513c0,3.2147-0.0878,3.2929-3.3865,3.2868c-1.3276-0.0025-2.6662-0.1033-3.9804,0.0309 c-1.9737,0.2016-2.5228-0.6035-2.5123-2.5204C174.5364,171.3255,174.5031,158.565,174.5041,145.8047z'/%3E%3Cpath d='M62.6206,115.5621c0.0002,9.1417,0.0059,18.2835-0.0033,27.4252c-0.0028,2.7218-0.1889,2.8983-2.8623,2.9156 c-1.6217,0.0105-3.2473-0.073-4.8645,0.0124c-1.8074,0.0955-2.4727-0.6273-2.4372-2.4555 c0.0945-4.864,0.0459-9.7308,0.0431-14.5965c-0.0019-3.2392-0.066-3.2941-3.392-3.2736c-1.4743,0.0091-2.9491,0.0053-4.4227,0.0437 c-1.5386,0.04-2.3653-0.6494-2.38-2.2163c-0.0186-1.9903,0.0194-3.9823-0.0501-5.9707c-0.051-1.4613,0.6416-1.9604,2.007-1.9315 c1.9158,0.0404,3.8395-0.0943,5.7483,0.0272c1.8842,0.1199,2.4235-0.7095,2.4145-2.4645 c-0.0432-8.4042,0.055-16.8096-0.0464-25.2128c-0.0256-2.1232,0.6003-2.9477,2.7482-2.7653 c1.6823,0.1428,3.393,0.0795,5.0827-0.0263c1.7911-0.1121,2.4614,0.5448,2.4472,2.4005 C62.5818,96.836,62.6204,106.1992,62.6206,115.5621z'/%3E%3Cpath d='M11.6683,135.5759c-2.6488,0.0564-5.2975,0.1405-7.9465,0.1581c-1.4106,0.0094-2.1414-0.6819-2.1365-2.1875 c0.0282-8.6204,0.0145-17.2409,0.0241-25.8614c0.0019-1.7283,0.7927-2.4203,2.6151-2.4085 c11.862,0.0773,23.7248,0.0932,35.5867,0.029c1.7498-0.0095,2.442,0.5771,2.4132,2.2486c-0.033,1.9151-0.077,3.8325-0.0173,5.7458 c0.0503,1.6128-0.6075,2.1765-2.23,2.1656c-8.178-0.0551-16.3567-0.0223-24.5352-0.0107 c-3.7024,0.0053-3.6888,0.0156-3.7084,3.6091c-0.0302,5.5231-0.0812,11.046-0.1234,16.569L11.6683,135.5759z'/%3E%3Cpath d='M143.9681,104.9097c0-5.8992,0.0495-11.7991-0.0334-17.6972c-0.0218-1.5526,0.4892-2.1155,2.0096-2.1049 c5.3827,0.0377,10.7659,0.0205,16.1487-0.0067c1.4753-0.0075,2.1497,0.5899,2.0967,2.1214 c-0.0689,1.9884-0.0615,3.9835,0.0185,5.9715c0.0559,1.3886-0.3271,2.0175-1.8708,1.911 c-1.8326-0.1265-3.6833,0.0256-5.5262,0.0319c-2.6251,0.009-2.9677,0.3131-2.9712,2.8742 c-0.0111,8.1114-0.0042,16.2229-0.0125,24.3343c-0.0032,3.09-0.1224,3.1943-3.2631,3.2229 c-1.3271,0.0121-2.6617-0.0417-3.9793,0.081c-1.9816,0.1846-2.6393-0.7876-2.6325-2.5993 c0.0226-6.0467,0.0085-12.0935,0.0085-18.1402C143.9635,104.9097,143.9658,104.9097,143.9681,104.9097z'/%3E%3Cpath d='M164.4689,217.1995c-0.4743-3.519-0.1692-7.0549-0.2029-10.582c-0.0555-5.8151,0.0466-11.6321-0.0413-17.4464 c-0.0289-1.9131,0.6173-2.68,2.5476-2.5646c1.9072,0.114,3.8283,0.0748,5.74,0.0087c1.4128-0.0488,1.955,0.494,1.9481,1.9336 c-0.0414,8.6865-0.0468,17.3735,0.002,26.0599c0.0096,1.7177-0.6686,2.3757-2.3513,2.3637 c-2.5692-0.0183-5.1394,0.0973-7.7066,0.1586C164.4071,217.1337,164.4689,217.1995,164.4689,217.1995z'/%3E%3Cpath d='M22.0605,161.0286c0-4.348,0.0638-8.6975-0.0338-13.0433c-0.0353-1.5714,0.469-2.0788,2.0129-1.9845 c1.8348,0.1121,3.6852,0.0621,5.5244-0.0186c1.7704-0.0777,2.5561,0.643,2.549,2.4485c-0.034,8.6223-0.0346,17.2449,0.0006,25.8671 c0.0064,1.5656-0.7062,2.0757-2.1606,2.03c-1.9143-0.0603-3.8338-0.087-5.7468-0.0154c-1.6396,0.0614-2.2002-0.6406-2.1756-2.24 c0.0669-4.347,0.023-8.6957,0.023-13.0438C22.0558,161.0286,22.0582,161.0286,22.0605,161.0286z'/%3E%3Cpath d='M113.5346,13.8419c-6.2597,0.0481-12.5195,0.0902-18.7791,0.1503c-1.0652,0.0102-1.6799-0.3779-1.6742-1.5255 c0.0115-2.2839,0.0153-4.568-0.0031-6.8519c-0.0097-1.2077,0.5416-1.6982,1.7542-1.6937c5.526,0.0203,11.0524,0.012,16.5784-0.0284 c1.4662-0.0107,1.9308,0.7456,1.9413,2.0611c0.021,2.6509,0.0772,5.3014,0.12,7.9511 C113.4731,13.904,113.5346,13.8419,113.5346,13.8419z'/%3E%3Cpath d='M42.1994,196.7078c2.6434,0.045,5.288,0.1589,7.9297,0.1104c1.7278-0.0317,2.3063,0.6469,2.2784,2.3597 c-0.084,5.1462-0.0816,10.2953-0.0035,15.4417c0.0256,1.6855-0.457,2.4087-2.2488,2.2906 c-1.902-0.1253-3.8213,0.0069-5.7329,0.0322c-1.4967,0.0198-2.2989-0.5346-2.275-2.2096 c0.0861-6.0285,0.0828-12.0582,0.1134-18.0876C42.2606,196.6452,42.1994,196.7078,42.1994,196.7078z'/%3E%3Cpath d='M42.2606,196.6452c-2.7122,0.4-5.4385,0.1022-8.1575,0.1663c-1.3343,0.0314-1.8984-0.7965-1.9023-1.9438 c-0.0195-5.6688,0.0219-11.3379,0.051-17.0069c0.0058-1.1286,0.664-1.5237,1.7206-1.5098c1.9142,0.0252,3.837,0.1204,5.7411-0.0192 c1.9338-0.1418,2.4243,0.7864,2.4211,2.485c-0.0112,5.9642,0.0373,11.9285,0.064,17.8918 C42.1994,196.7078,42.2606,196.6452,42.2606,196.6452z'/%3E%3Cpath d='M11.6103,135.6331c2.5596,0.4482,5.1385,0.3197,7.7085,0.1909c1.8314-0.0918,2.7766,0.5345,2.6889,2.5037 c-0.085,1.9102-0.0611,3.828-0.0107,5.7405c0.0341,1.2941-0.4729,1.9031-1.7996,1.8837c-2.0606-0.0302-4.1224-0.013-6.1831,0.0175 c-1.5345,0.0227-2.2644-0.5673-2.2283-2.2287c0.059-2.7191-0.0685-5.4423-0.1175-8.1642 C11.6683,135.5759,11.6103,135.6331,11.6103,135.6331z'/%3E%3Cpath d='M169.232,105.2462c-5.6466-0.1247-5.044,0.7648-4.9788-5.1179c0.0557-5.0214-1.155-4.9607,4.9784-4.9297 c5.8585,0.0296,5.2496,0.0224,5.1739,5.3713C174.3347,105.574,175.5432,105.2277,169.232,105.2462z'/%3E%3C/g%3E%3C/svg%3E")
      16 16,
    pointer;
}

#cancelBtn {
  background-color: crimson;
}
.modalContainer .footer button:hover {
  text-transform: uppercase;
}
