@font-face {
  font-family: 'Sanchez-Regular';
  src: local('Sanchez-Regular'), url(/public/fonts/otf/Combat.otf) format('truetype');
}

html {
  height: 100%;
  background-color: black;
}

body {
  height: 100%;
  margin: 0;
  font-family: Sanchez-Regular;

}

.page {
  display: flex;

  height: calc(100vh - 30px);
}

.sidebar {
  width: 200px;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  left: 50%;
  align-items: center;
  justify-content: center;
}


.App-header {
  height: 100px;
  display: flex;
  align-items: center;
  margin-left: 10px;

}

.album-image {
  object-fit: scale-down;
  max-width: 100%;
  max-height: 100%;
}

.album {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.album-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.album-name {
  display: flex;
  align-items: center;
  font-size: 26px;
  justify-content: center;
}

.artist-name {
  display: flex;
  align-items: center;
  font-size: 20px;
  justify-content: center;
}

.button {

  border: none;
  position: fixed;
  bottom: 10%;
  font-family: Sanchez-Regular;
  color: black;
  padding: 15px 50px;
  text-decoration: none;
  font-size: 20px;

}

.genres {
  display: flex;
}