@font-face {
  font-family: "Sanchez-Regular";
  src: local("Sanchez-Regular"),
    url(/public/fonts/otf/BluuNext-Bold.otf) format("truetype");
}

@font-face {
  font-family: "Cotham";
  src: local("Cotham"),
    url(/public/fonts/otf/OpenSans-VariableFont_wdth\,wght.ttf)
      format("truetype");
}

html {
  height: 100%;
  background-color: black;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Cotham" sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.page {
  display: flex;
  flex: 1 1 100%;
}

.sidebar {
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.spotify-embed {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  left: 50%;
  align-items: center;
  justify-content: center;
}

.recommended-by {
  font-size: 18px;
  font-family: "Cotham" sans-serif;
}
.App-header {
  height: 100px;
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
  align-items: stretch;
  flex-wrap: row wrap;
}
.header {
  display: flex;
  align-items: center;
  font-family: "Sanchez-Regular", serif;
}
.about-us {
  position: absolute;
  right: 0px;
  margin-right: 20px;
  font-family: "Cotham", sans-serif;
  font-size: 18px;
}

.album-image {
  object-fit: scale-down;
  max-width: 500px;
  max-height: 500px;
  margin-bottom: 10px;
}
.album-image-wrapper {
  object-fit: scale-down;
}

.album {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.album-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.album-name {
  display: flex;
  align-items: center;
  font-size: 26px;
  margin-bottom: 10px;
  justify-content: center;
}

.artist-name {
  display: flex;
  align-items: center;
  font-size: 22px;
  justify-content: center;
}

.filters-box {
  margin-top: 20px;
  margin-left: 20px;
  font-family: "Cotham", sans-serif;
  font-size: 22px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
}
.filter-wrapper {
  margin-bottom: 10px;
}

.button {
  border: none;
  position: fixed;
  bottom: 10%;
  font-family: "Sanchez-Regular", serif;
  color: black;
  padding: 15px 100px;
  text-decoration: none;
  font-size: 20px;
}

.genres {
  display: flex;
}

.curators {
  display: flex;
  align-items: center;
}
.curators-card {
  flex: 1;
}
